* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.events {
  width: 50%;
}

.event__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 10px;
  font-weight: 0.5rem;
  padding: 0.5rem;
}

.event__small .btn {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.event__small .register-btn {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.register__link {
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.event__small h3 {
  font-size: 0.9rem;
  text-align: center;
  font-size: rem;
  margin-bottom: 0.1rem;
}

.event__img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 60%;
  height: auto;
}

.description {
  background-color: #d3d3d3;
}

.off {
  display: none;
}

.form {
  padding: 1rem;
}

fieldset {
  background-color: grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.register {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
}

.form {
  position: fixed;

  z-index: 1;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
